#titre{color:red;
font-weight:bold; font-size:large;
margin-bottom: 75px;
}
.id{
    background-color: lightblue;
}
#lv{
border-style: groove;
border-width: 5px;
border-color: gray;
margin-bottom: 15px;


}
#lv2{
border-style: groove;
border-color: yellow;
border-right-style: double;
border-left-style: double;
border-width: 5px;
margin-bottom: 15px;
}
#lv3{
border-top-style: inset;
border-bottom-style: outset;
border-color: lime;
border-right-style: solid;
border-left-style: solid;
border-width: 5px;
margin-bottom: 15px;
}

#cass{
border: none;
padding: 5px 5px 47px 26px;
float: right;
width: 50%;
font-family: arial black;
position: absolute;
right: 10px;
top: 140px;
}

div.imagefcl{
position: absolute;
right: 50px;
top: 163px;
}
div.imagemyn{
position: absolute;
right: 50px;
top: 330px;
}

div.imagehrd{
position: absolute;
right: 50px;
top: 490px;
}
